<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    {% load static %}
    <link rel="shortcut icon" href="{%  static 'recipes/fork.png' %}">
    <link rel="stylesheet" href="{% static 'recipes/style.css' %}">

    <title>Recipes - Django</title>
</head>
<body>
    <header>
        <h1>Fabi Inc.</h1>
        <h2>Recipes app</h2>

        {% if user.is_authenticated %}
        <span>Welcome {{ user.username }}!</span>
        <a href="{% url 'security:logout' %}">Logout</a>
        {% else %}
        <span class="warn-msg">Please <a href="{% url 'security:login' %}">login</a> for full access</span>
        {% endif %}
    </header>

    {% block "content" %}{% endblock %}

</body>
</html>
